/vendor
/node_modules
.env
.phpunit.result.cache
/storage/*.key
/public/hot
/public/storage
/bootstrap/cache/*.php
.DS_Store
storage/fp-be2.tgz
/flutter-app/build/
/flutter-app/.dart_tool/
/flutter-app/.idea/
/flutter-app/android/.gradle/
/flutter-app/android/.kotlin/
/flutter-app/android/local.properties
/flutter-app/android/key.properties
/flutter-app/ios/Pods/
/flutter-app/ios/.symlinks/
/flutter-app/.packages
/flutter-app/.flutter-plugins
/flutter-app/.flutter-plugins-dependencies
