<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Debug uniquement : autorise l'API locale en HTTP (http://IP-du-PC:8000)
         pour tester sur de vrais téléphones. La version release reste en HTTPS. -->
    <application android:usesCleartextTraffic="true" />
</manifest>
