.dart_tool/
.packages
build/
ios/Pods/
ios/.symlinks/
android/.gradle/
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# --- Ajouts FlashPay
.idea/
.icons_ok
android/.kotlin/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
*.jks
*.keystore
.env
